.students__management{
  position: relative;
  padding: 50px 0 0 0;
}
.header__section{}
.header{
  text-align: center;
}
.student__manage__form{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.students__name__filed{}
.submit__button{
  position: absolute;
  top: 0px;
  right: 0px;
  background: orange;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 37px;
}
.students__dashboard{}
.total__students,
.present__students,
.absents__students{}
.dashboard__header{
  text-align: center;
}
.dashboard__container{
  position: relative;
  padding: 10px 0;
}
.students__list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  text-transform: capitalize;
}
.student__list{ 
  text-align: center;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button{
  margin-right: 5px;
  background: orange;
  color: #fff;
  /* border: 1px solid red; */
  border: none;
  font-size: 12px;
}